{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ movie.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'movies/assets/img/favicon.ico' %}">
</head>
<body class="bg-gray-100">
    {% include "header.html" %}
    <div class="container mx-auto p-6 flex">
        <div class="mr-6">
            <div class="max-w-20">
                <img src="{% static 'movies/assets/img/'|add:movie.poster_path %}" alt="{{ movie.title }}" class="w-full h-auto">
            </div>
        </div>
        <div class="flex-1">
            <h1 class="text-2xl font-bold mb-4">Escribir una reseña para {{ movie.title }}</h1>
            <form method="post">
                {% csrf_token %}
                <label for="rating" class="block mb-2">Calificación:</label>
                <input type="number" name="rating" min="1" max="100" required class="w-full p-2 border rounded-md mb-4">
                <label for="review_text" class="block mb-2">Reseña:</label>
                <textarea name="review_text" required class="w-full p-2 border rounded-md mb-4"></textarea>
                <button type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">Enviar reseña</button>
            </form>
        </div>
    </div>
</body>

<footer class="bg-blue-900 text-white text-center py-4">
    <style>
        .background-icon{
            background-image: url('{% static 'movies/assets/img/popcorn.png' %}');
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
    
        }
    </style>
     <div>
        <a class="background-icon inline-block"></a>
        <a href="{% url 'index' %}" class="text-white text-4xl font-bold">Cinephile</a> <!-- Título de la página -->
    </div>
    <p>&copy; 2023 <a href="https://github.com/TheJorges/MyMovies" class="underline" target="_blank">GitHub</a>. Todos los derechos reservados.</p>
</footer>
</html>
