{% load static %}
<style>
    .background-icon{
        background-image: url('{% static 'movies/assets/img/popcorn.png' %}');
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;

    }
</style>
<nav class=" p-2" style="display:block;width: 100%;border-bottom:1px solid #1F3B8B;background-color:#11224F;">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <div class="items-center flex">
                <a class="background-icon inline-block"></a>
                <a href="{% url 'index' %}" class="text-white text-4xl font-bold">Cinephile</a> <!-- Título de la página -->
            </div>
            <ul class="flex space-x-8">
                <li><a href="{% url 'index' %}" class="text-white">Inicio</a></li>
                <li><a href="review" class="text-white">Reseñas</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="text-white">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="text-white">Iniciar sesión</a></li>
                    <li><a href="{% url 'register' %}" class="text-white">Registrarse</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
