{% load static %}
<style>
    .background-icon{
        background-image: url('{% static 'movies/assets/img/popcorn.png' %}');
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;

    }
</style>
<nav class=" p-2" style="display:block;width: 100%;border-bottom:1px solid #1F3B8B;background-color:#11224F;">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <div class="items-center flex">
                <a class="background-icon inline-block"></a>
                <a href="{% url 'index' %}" class="text-white text-4xl font-bold">Cinephile</a> <!-- Título de la página -->
            </div>
            
            <ul class="flex space-x-8">
                <form method="get" action="/movie_search/" class="" style="height: 54px;display: flex; align-items: center;">

                    <label for="search" class="sr-only">Buscar</label>
                    <div class="relative">
                          <svg style="display:inline-block;" class="h-8 w-8 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="10" cy="10" r="7" />  <line x1="21" y1="21" x2="15" y2="15" /></svg>
            
                      <input id="search" name="search" class="inline-block rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900
                                      ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2
                                      focus:ring-inset focus:ring-indigo-600 
                                      sm:text-sm sm:leading-6" placeholder="Buscar" type="search" 
                                  {% if search_value != None %} 
                                      value="{{ search_value|stringformat:'s' }}"
                                  {% endif %} >
            
                    </div>
                  </form>
                <li style="display: flex;align-items:center;"><a href="{% url 'index' %}" class="text-white">Inicio</a></li>
                {% if request.user.is_authenticated %}
                    <li style="display: flex;align-items:center;"><a href="{% url 'logout' %}" class="text-white">Cerrar sesión</a></li>
                {% else %}
                    <li style="display: flex;align-items:center;"><a href="{% url 'login' %}" class="text-white">Iniciar sesión</a></li>
                    <li style="display: flex;align-items:center;"><a href="{% url 'register' %}" class="text-white">Registrarse</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
