{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-900 p-4 text-white">
    <h1 class="text-4xl font-bold text-center mb-8">Cinephile</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for movie in movies %}
        <div class="bg-white p-4 rounded-lg shadow-md">
            <a href="{% url 'movie_detail' movie.id %}">
                <img class="w-full h-auto" src="{% static 'movies/assets/img'|add:movie.poster_path %}" alt="{{ movie.title }}">
            </a>
            <a class="text-black text-center mt-2 block" href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a>
            <div class="flex flex-wrap mt-2 text-center">
                {% for genero in movie.genres.all %}
                    <span class="bg-gray-300 text-gray-700 text-sm rounded-full py-1 px-2 mr-2 mb-2">{{ genero.name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>

