{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'movies/assets/img/favicon.ico' %}">
</head>
<body class="bg-blue-900 bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-blue-500 p-4">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <a href="{% url 'index' %}" class="text-white text-2xl font-bold">Cinephile</a>
            <ul class="flex space-x-4">
                <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                <li><a href="review" class="text-white">Reviews</a></li>
            </ul>
        </div>
    </nav>
    <div class="max-w-4xl mx-auto mt-8 p-4 bg-white rounded shadow-lg">
        <img src="{% static 'movies/assets/img/'|add:actor.image_path %}" alt="{{ actor.name }}" class="w-40 h-40 rounded-full mx-auto">
        <h1 class="text-3xl font-bold text-center mt-4">{{ actor.name }}</h1>
        <p class="text-gray-600 text-center">Fecha de nacimiento: {{ actor.birth_date }}</p>
        <p class="text-gray-700  mt-4">{{ actor.bio }}</p>
            <h2>Películas en las que ha participado:</h2>
            <ul>
                {% for movie_credit in movies_participated %}
                    <li>
                        <p>{{ movie_credit.movie.title }}</p>

                    </li>
                {% endfor %}
            </ul>
    </div>
</body>
</html>

