{% load static %}
<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'movies/assets/img/favicon.ico' %}">
</head>
<body class="bg-blue-900 bg-gray-100">
    <!-- Navbar -->
    <div class="max-w-4xl mx-auto mt-8 p-4 bg-white rounded shadow-lg">
        <img src="{% static 'movies/assets/img/'|add:actor.image_path %}" alt="{{ actor.name }}" class="w-40 h-40 rounded-full mx-auto">
        <h1 class="text-3xl font-bold text-center mt-4">{{ actor.name }}</h1>
        <p class="text-gray-600 text-center">Fecha de nacimiento: {{ actor.birth_date }}</p>
        <p class="text-gray-700  mt-4">{{ actor.bio }}</p>
            <h2>Películas en las que ha participado:</h2>
            <ul>
                {% for movie_credit in movies_participated %}
                    <li>
                        <p>{{ movie_credit.movie.title }}</p>

                    </li>
                {% endfor %}
            </ul>
    </div>
</body>

<footer class="bg-blue-900 text-white text-center py-4">
    <style>
        .background-icon{
            background-image: url('{% static 'movies/assets/img/popcorn.png' %}');
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
    
        }
    </style>
     <div>
        <a class="background-icon inline-block"></a>
        <a href="{% url 'index' %}" class="text-white text-4xl font-bold">Cinephile</a> <!-- Título de la página -->
    </div>
    <p>&copy; 2023 <a href="https://github.com/TheJorges/MyMovies" class="underline" target="_blank">GitHub</a>. Todos los derechos reservados.</p>
</footer>
</html>

