{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario - Cinephile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'movies/assets/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'lib/cute-alert/style.css' %}">
</head>

<body style="background-color: #182E6D;">

    {% include "header.html" %}

    <h2 class="mx-auto text-center mt-8 text-2xl text-white">Registro de usuario</h2>
    <div class="mt-10 login-div w-96 flex-col justify-center mx-auto">
        
        <form method="post" class="bg-yellow-100 shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md mx-auto"style="border-radius: 2em;">
            {% csrf_token %}

            <div class="mb-4">
                <label for="id_username" class="block text-black">Usuario:</label>
                <input class="h-8 rounded-md text-center w-full border border-black" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                {% if form.username.errors %}
                    <p class="text-red-500 text-sm">{{ form.username.errors|join:", " }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="id_password" class="block text-black">Contraseña:</label>
                <input class="h-8 rounded-md text-center w-full border border-black" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                {% if form.password.errors %}
                    <p class="text-red-500 text-sm">{{ form.password.errors|join:", " }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="id_password2" class="block text-black">Confirmar Contraseña:</label>
                <input class="h-8 rounded-md text-center w-full border border-black" type="password" name="password2" required="" id="id_password2">
                {% if form.password2.errors %}
                    <p class="text-red-500 text-sm">{{ form.password2.errors|join:", " }}</p>
                {% endif %}
            </div>

            <div class="flex justify-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Registrarse
                </button>
            </div>

        </form>

        {% if error %}
            <p class="text-red-500">{{ error }}</p>
        {% endif %}
    </div>
    <footer class="bg-blue-900 text-white text-center py-4" style="position: absolute; bottom: 0; width: 100%;">
        <style>
            .background-icon {
                background-image: url('{% static 'movies/assets/img/popcorn.png' %}');
                width: 50px;
                height: 50px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        </style>
        <div>
            <a class="background-icon inline-block"></a>
            <a href="{% url 'index' %}" class="text-white text-4xl font-bold">Cinephile</a> <!-- Título de la página -->
        </div>
        <p>&copy; 2023 <a href="https://github.com/TheJorges/MyMovies" class="underline" target="_blank">GitHub</a>. Todos los derechos reservados.</p>
    </footer>
    <script src='{% static 'lib/cute-alert/cute-alert.js' %}'></script>
    <script>
        params = new URLSearchParams(window.location.search)
        if (params.get('register'))
            cuteAlert({
                type: "success",
                title: "Usuario registrado.",
                message: 'Por favor, inicie sesión.'
            })
    </script>

</body>

</html>