{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cinephile - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'movies/assets/img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'lib/cute-alert/style.css' %}">
</head>

<body style="background-color:#182E6D;">

    {% include "header.html" %}

    <h2 class="mx-auto text-center mt-8 text-2xl text-white">Iniciar sesión</h2>
    <div class="mt-10 login-div w-96 flex-col justify-center mx-auto "
        style="border:1px solid #1F3B8B;border-radius: 2em;">



        <form method="post" class="p-10 flex flex-col justify-center text-center">
            {% csrf_token %}
            <label class="text-white mb-2" for="id_username">Usuario:</label>
            <input class="h-8 rounded-md text-center" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                maxlength="150 " required="" id="id_username">
            <br>
            <label class="text-white mb-2" for="id_password">Contraseña:</label>
            <input class="h-8 rounded-md text-center" type="password" name="password" autocomplete="current-password" required="" id="id_password">
            <br>
            <button class="p-2 text-white" style="border:1px solid #1F3B8B;border-radius: .5em;background-color: #061c61;" type="submit">Iniciar sesión</button>
        </form>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    <script src='{% static 'lib/cute-alert/cute-alert.js' %}'> </script>
    <script>
        params= new URLSearchParams(window.location.search)
        if(params.get('register'))
            cuteAlert({
                type:"success",
                title: "Usuario registrado.",
                message: 'Por favor, inicie sesión. '
            })
    </script>

</body>

</html>